<style>
    body {
    font-family: "Arial", "Meiryo" ,"sans-serif";
    }

    :root {
    font-size : 20px;
    text-align: center;
    }

    .blue {
    color:blue;
    }

    .skyblue {
    color: skyblue;
    }

    .pink {
    color: pink;
    }

    h1 {
    font-size: 2rem;
    font-family: "Josefin Sans","sans-serif";
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: 3px solid rgb(115, 115, 114);
    }

    #basic {
    font-weight:bold;
    }

</style>