h1 {
    margin: 0;
    color: rgb(255, 255, 255);
}

p {
    margin: 0;
}

body {
    margin: 0;
}

header {
    margin-bottom: 20px;
    background-color: rgb(244, 79, 79);
    text-align: center;
}

main {
    margin: 10px;
}

#parent {
    display: flex;
    justify-content: space-between;
}

.contents {
    border: 3px solid rgb(238, 204, 204);
    flex-basis: 25%;
    padding: 10px 15px 10px 15px;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

h2 {
    font-size: 25px;
    text-decoration: underline;
    text-decoration-color: rgb(236, 122, 122);
    text-decoration-thickness: 3px;
    text-decoration-style: dotted;
}

h2::before {
    content: "â—";
    color: rgb(239, 111, 139);
}

.contents > p:nth-of-type(2)::first-letter {
    font-weight: bold;
    color: rgb(97, 206, 249);
}

.contents > img {
    margin: 10px 0px 10px 0px;
    width: 70%;
}

footer {
    background-color: rgb(244, 79, 79);
    text-align: center;
}

a {
    color: rgb(255,255,255);
}

footer a:visited {
    color: rgb(193, 234, 251);
}

footer a:hover {
    color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    #parent {
        flex-direction: column;
    }
}